<nav>
    <div class="w-full h-[30px] bg-red-500 flex items-center justify-center">
        <p class="text-white">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="#" class="underline text-bold">Shop Now</a></p>
    </div>

    <div class="w-full h-[60px] flex border-b-1 border-grey-300">
        <div class="w-[60%] h-full flex items-center justiy-around">
            <div class="flex items-center space-x-3">
                <h1 class="no-underline font-bold text-xl">E-commerce</h1>
                <ul class="flex">
                    <li><a class="px-3 py-2 hover:underline" href="#">Home</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="#">Contact</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="#">About</a></li>
                    <li><a class="px-3 py-2 hover:underline" href="#">Sign Up</a></li>
                </ul>
            <button type="button" class="px-3 py-1 bg-red-500 text-white font-medium rounded-md hover:bg-red-400 cursor-pointer">Shop</button>
            </div>
        </div>

        <div class="w-[40%] h-full flex items-center justify-around">
            <div class="flex items-center space-x-1">
                <input type="text" placeholder="What are you looking for ?" class="bg-grey-300 px-3 rounded-md">

                <button type="button" class="px-3 py-1 bg-red-500 text-white font-medium rounded-md hover:bg-red-400 cursor-pointer">Search</button>
                <button type="button" class="px-3 py-1 bg-red-500 text-white font-medium rounded-md hover:bg-red-400 cursor-pointer">Sign In</button>
            </div>
        </div>
    </div>
</nav>